*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    background-color: #6b60ec;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1;
}
.nevber{
    
    
}
.nevber ul li{
    float:left;
    padding: 30px 20px;
    list-style:none;
    text-transform: uppercase;
}
.nevber ul li a{
    text-decoration: none;
    color: white;
}
.nevber ul li a:hover{
    color: #a166f4;
}
.nevber ul li a:active{
    color: aqua;
}
.nevber ul li a:visited{
    color: aqua;
}
/*start first*/
.continer{
    width: 100%;
    height: 100vh;
}
.continer a{
    text-decoration: none;
}
 .logo a{
    position:absolute;
    left: 70px;
    top: 20px;
    color: white;
    
    
}
.logo a{
    text-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 1;

}
.continer .searcharia{
    position: fixed;
    right: 90px;
    top: 50px;
    width: 170px;
    height: 45px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
    box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
    z-index: 1;

}
.continer .searcharia input{
    width: 90px;
    height: 20px;
    border: none; 
    outline: none;
    background-color: transparent;
    color: #1f1f1f;
    font-size: 1rem;
    padding: 0 10px;

}
.img1{
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translate(15% 50%);
}
.img1 img{
    height: 300px;
    margin-top: -50px;
}
.section{
    position: absolute;
    top: 50%;
    right: 10%;
}
.section h1{
    font-size: 60px;
    font-family: serif;
    letter-spacing: 28px;
}
.section h2{
    font-size: 60px;
    font-family: serif;
}
.color{
    color: #7a72ff;
}
.section .btn{
    width: 150px;
    height: 40px;
    background-color: #1f2e42;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
    margin-top: 20px;
    font-weight: 600;
    letter-spacing: 0.5;
    font-family: calibri;
    font-size: 1rem;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border:transparent !important;
}
.section .btn:hover{
    color:#fff;
    background-color: #7a72ff;
    transition: all ease 0.5s;

}
.iconaria{
    position: fixed;
    top: 50%;
    left: 30px;
    transform: translatey(-50%);
    border-radius:20px ;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    padding: 5px 0;
    z-index: 1;
}

.iconaria a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
}
.iconaria a i:hover{
    color: blue;
}
/* start end */
/* 2 work start */
.prodactsection{
    width: 85%;
    background-color:#ffffff;
    box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.3);
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    align-items: center;
    padding: 40px 20px;
    position: relative;
    background-size: 1000px;
    border-radius: 20px;
    margin-top: -50px;
}
h3{
    font-size: 30px;
    text-shadow: 2px 2px 30px rgba(0, 0, 0, 0.3);
    font-family: serif;
    color: #1f1f1f;
}
.style{
    color: #7a72ff;
}
.prodact{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     margin: 10px 0px;
     width: 100%;
}
.prodactbox{
    width: 250px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    position: relative;
    margin: 10px 30px;
}
.prodactbox img{
    height: 180px;
}
.baybtn{
    position: absolute;
    height: 40px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items:center;
    left: 50%;
    bottom: -20px;
    transform:translate(-50%);
    border-radius: 15% 15% 15% 15% / 50% 50% 50% 50%;
    background:linear-gradient(120deg, #6b60ec 20%,#a166f4 ) ;
    text-decoration: none;
    color:#ffffff;
    animation: fade 0.2s;
    display:none;
}
.prodactbox:hover .baybtn{
    display: flex;
    

}
.prodactbox:hover{
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
.al{
    text-decoration: none;
    color: #1f2e42;
}
.prodactbox:hover a:last-child{
    color: #fff;
    transition: all ease 0.3s;
}
/* 2 work end */
/* 3 work start */

.about{
    display: flex;
    width: 85%;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
    padding: 30px;
    
}
.aboutbox{
    width: 40%;

}
.aboutbox img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.aboutbox h1{
    font-size: 3rem;
    font-weight: 700;
    color:#1f1f1f
    
}
.aboutbox h4{
    font-size: 2rem;
    font-weight:400;
    padding-top: 10px;
    padding-bottom: 10px;
    color:#1f1f1f
}
.sp1{
    color: #7a72ff;
}
/* 3 work end */
/* 4 work start */
.clock{
    width: 85%;
    background-color:#ffffff;
    box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.3);
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    align-items: center;
    padding: 40px 20px;
    position: relative;
    background-size: 1000px;
    border-radius: 20px;
    margin-top: 50px;
}
h2{
    font-size: 30px;
    text-shadow: 2px 2px 30px rgba(0, 0, 0, 0.3);
    font-family: serif;
    color: #1f1f1f;
}
.sk{
    color: #7a72ff;
}
.lalo{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     margin: 10px 0px;
     width: 100%;
}
.clockbox{
    width: 250px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    position: relative;
    margin: 10px 30px;
}
.clockbox img{
    height: 180px;
}
.baybtn{
    position: absolute;
    height: 40px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items:center;
    left: 50%;
    bottom: -20px;
    transform:translate(-50%);
    border-radius: 15% 15% 15% 15% / 50% 50% 50% 50%;
    background:linear-gradient(120deg, #6b60ec 20%,#a166f4 ) ;
    text-decoration: none;
    color:#ffffff;
    animation: fade 0.2s;
    display:none;
}
.clockbox:hover .baybtn{
    display: flex;
    

}
.clockbox:hover{
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
a{
    text-decoration: none;
    color: #1f2e42;
}
.clockbox:hover a:last-child{
    color: #fff;
    transition: all ease 0.3s;
}
/* 4 work end */
.Notification{
    width: 100%;
    height: 250px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;

}
.Notification h3{
    font-size: 2rem;
    color: rgb(56, 56, 56);
}
.notificationinput {
    width: 500px;
    background-color: #fff;
    border-radius: 7% 7% 7% 7% / 50% 50% 50% 50%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    padding: 5px 20px;
    margin-top: 30px;

}
.notificationinput input{
    width: 100%;
    height: 40px;
    border: none;
    background-color: transparent;
    outline: none;
}
.notificationbutton{
    width: 120px;
    height: 40px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #202020;
    border-radius: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
}
.notificationbutton:hover{
    background-color: #6b60ec;
    transition: all ease 0.5s;
}

footer{
    background-color: #1f1f1f;
    padding: 20px;

}
footer h4{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}





